<h2>Welcome to Happi Tails</h2>

<div class="happy_picture">
  <img src="images/bunny.jpg"/>

</div>

<div class="story">
  <p>
    Happi tails was founded in 2015 by an inspired animal lover, Natalie Morella.
    Who believes that every animal deserves unconditional love and the right to find their forever home.


  This is the place to find your next 4-legged friend
  </p>
  <p>
    Happi Tails is fully online operating animal shelter.
    Here, people can fill out a form and put an animal up for adoption.
    After the approval, their pet is listed on the website for other users to view and choose their forever friend.
    On the other hand, when you find THE ONE, the user can fill out an application for adoption and meet with the current owner for the interview.
    If everything is great and both sides agree, the little one goes to a new home :)

  </p>

</div>
